
body {
    font-family: Arial, 'Times New Roman', Times, serif;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form {
    background-color: #e3cdfa;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .datos {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="radio"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f4c5f5;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #124b88;
    color: #f5f2f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #7cb5f1;
  }
  